@charset "utf-8";

.is-main-square{
  -webkit-box-shadow: 0 0 .375rem 0 rgba(0,0,0,.32);
  box-shadow: 0 0 .375rem 0 rgba(0,0,0,.32);
  border-radius: 5px;
  min-width: 400px;
}

.super-container{
  padding-left: 20%;
  padding-right: 20%;
}